<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% data.forEach(cond => { %>
        <div>
            <h1><%= cond.name %></h1>
            <p><%= cond.email %></p>
            <p><%= cond.profession %></p>
            <p><%= cond.status</p>
        </div>
    <% }); %>
</body>
</html>