<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/Events.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

<body>
  <div class="slider owl-carousel">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <% if (data.length === 0) { %>
                    <p>No events to display.</p>
                <% } else { %>
                    <% data.forEach(event => { %>
                        <div class="col-lg-3 col-md-6">
                            <div class="hp-room-item set-bg" data-setbg="<%= event.image %>">
                                <div class="hr-text">
                                    <h3><%= event.name %></h3>
                                    <a href="/FormEvent/<%= event.id %>" class="primary-btn" style="color: #DD6E42;">Lire plus</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        if ($('.owl-carousel .card').length > 1) {
            $(".slider").owlCarousel({
                loop: false,
                autoplay: true,
                autoplayTimeout: 2000, // 2000ms = 2s
                autoplayHoverPause: true,
            });
        } else {
            $(".slider").owlCarousel({
                loop: false,
                autoplay: false,
                items: 1
            });
        }
    });
</script>

</body>

</html>
