<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Form.css">
</head>
<body>
    <form action="/AddParticipation" method="post">
        <input type="hidden" name="UserId" value="<%= id %>">
        <div>
            <input type="hidden" name="eventId" value="<%= eventId %> ">
        </div>
        <div>
            <input type="hidden" name="eventName" value="<%= eventName %> ">
        </div>
        <div class="user-box">
            <input type="text" name="name">
            <label for="">name</label>
        </div>
        <div class="user-box">
            <input type="email" name="email">
            <label for="">email</label>
        </div>
        <div class="user-box">
            <input type="text" name="Profession">
            <label for="">Profession</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>