<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Form.css">
</head>
<body>
    <form action="/AddParticipation">
        <div class="user-box">
            <input type="text" name="name">
            <label for="">name</label>
        </div>
        <div class="user-box">
            <input type="email" name="email">
            <label for="">email</label>
        </div>
        <div class="user-box">
            <input type="tel" name="phone">
            <label for="">Phone</label>
        </div>
        <div class="user-box">
            <input type="text" name="Organization">
            <label for="">Organization</label>
        </div>
    </form>
</body>
</html>