<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Add" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name">
        <textarea name="description" id=""></textarea>
        <input type="text" name="adress">
        <input type="date" name="EventStart">
        <input type="date" name="EventEnd">
        <input type="text" name="EventPlace">
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
</body>
</html>