<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
    <!-- hero section -->
    <section class="relative h-screen flex flex-col justify-center items-center overflow-hidden">
        <video class="absolute top-0 left-0 w-full h-full object-cover z-0" autoplay muted loop id="myVideo">
            <source src="/video/ocpvedeo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <!-- White overlay with opacity -->
        <div class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-50 z-10"></div>

        <!-- navbar section -->
        <header class="absolute top-0 left-0 w-full z-20">
            <nav class="bg-white w-[80%] mx-auto flex justify-between mt-10 p-4 rounded">
                <div class="flex">
                    <img class="w-40 h-16 mt-2" src="/img/logo.svg" alt="Sam logo">
                </div>
                <div>
                    <ul class="flex">
                        <li class="p-6"><a class="font-lexend" href="/GetEvent">Evenements</a></li>
                        <li class="p-6"><a class="font-lexend" href="/Actualiter">Actualites</a></li>
                        <li class="p-6"><a class="font-lexend" href="/Perticipation">Reservation</a></li>
                        <li class="p-6"><a class="font-lexend" href="#contact">Contact</a></li>
                        <li class="p-6"><a class="font-lexend" href="/aprops">A propos</a></li>
                        <% if (session.user) { %>
                            <li class="p-6"><a class="font-lexend" href="/logout" style="color: #DD6E42;">Déconnexion</a></li>
                        <% } else { %>
                            <li class="p-6"><a class="font-lexend" href="/login">Connexion</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- end navbar section -->

        <div class="relative z-20 text-center p-8 rounded-lg">
            <h1 class="text-6xl font-bold font-Exo text-gray-800">Empowering Agriculture Events</h1>
            <p class="mt-7 text-lg font-lexend">
                SAM is revolutionizing agriculture event management,<br/>
                making it easier to stay updated on the latest advancements.
            </p>            
        </div>
    </section>
</body>
</html>
